.f20{
	font-size: .2rem;
}
.f22{
	font-size: .22rem;
}
.f24{
	font-size: .24rem;
}
.f26{
	font-size: .26rem;
}
.f28{
	font-size: .28rem;
}
.f30{
	font-size: .30rem;
}
.f32{
	font-size: .32rem;
}
.f36{
	font-size: .36rem;
}
.c3{
	color: #333;
}
.c6{
	color: #666;
}
.c9{
	color: #999;
}
.c_m{
	color: #F51D46;
}
.c_f{
	color: #9A7BFF;
}
.toTop {
  position: fixed;
  right: .28rem;
  bottom: 1.3rem;
  font-family: iconfont;
  display: none;
  font-size: .24rem;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border: .01rem solid #cccccc;
  border-radius: 50%;
  text-align: center;
  z-index: 11;
  color: #999999;
}
ul{
	list-style: none;
}
.break{
	word-wrap: break-word;
		/*-webkit-line-clamp: 2;*/
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
}
.break_two{
	-webkit-line-clamp: 2;
}
.vux-header{
	width: 100%;
	background-color:#f9f9f9;
	padding: 0;
	/*border-bottom: .01rem solid #e5e5e5;*/
	position: fixed;
	top: 0;
	z-index: 999;
}
.vux-header-title-area, .vux-header .vux-header-title{
	height: .88rem;
	/*padding-top: .4rem;*/
}
.vux-header .vux-header-title {
    line-height: .88rem;
    text-align: center;
    font-size: .36rem;
    font-weight: 400;
    color: #333!important;
}
.vux-header .vux-header-left .left-arrow:before{
	border: 1px solid #333;
	border-width: 1px 0 0 1px;
	width: .24rem;
	height: .24rem;
	top: .16rem;
	left: .14rem;
}
.vux-header .vux-header-right{
	line-height: .88rem;
	top: 0;
}
.myOrder .weui-cells{
	margin-top: 0;
	font-size: .32rem;
	color: #333;
}
.myOrder .vux-label{
	color: #333;
}
.myOrder .vux-tap-active{
	height: .9rem;
	box-sizing: border-box;
}
.myOrder .weui-cells:before{
	border: none;
}
.myOrder .weui-cell:before{
	border: none;
}
.myOrder .weui-cell{
	border-bottom: .01rem solid #e5e5e5;
}
.btn {
		display: inline-block;
		padding: 0 .2rem;
		line-height: .56rem;
		border: .01rem solid #999;
		border-radius: .1rem;
		margin-left: .2rem;
		color: #666;
		font-size: .26rem;
		background: white;
	}
	
	.btn1 {
		color: #9a7bff;
		border-color: #9a7bff;
	}
	
	
	/*XButton按钮样式*/
	.weui-btn {
		background: #9A7BFF;
		line-height: .8rem;
		color: white;
		border-radius: .06rem;
	}
	.weui-switch:checked, .weui-switch-cp__input:checked ~ .weui-switch-cp__box {
    border-color: #9A7BFF;
    background-color: #9A7BFF;
}


.header.vux-header .vux-header-title {
    line-height: .88rem;
    text-align: center;
    font-size: .36rem;
    font-weight: 400;
    color: white!important;
}
.header.vux-header .vux-header-left .left-arrow:before{
	border: 1px solid white;
	border-width: 1px 0 0 1px;
}



.header_main {
		width: calc(100% - .52rem);
		width: -moz-calc(100% - .52rem);
		width: -webkit-calc(100% - .52rem);
		position: absolute;
		bottom: -1.06rem;
		height: 1.77rem;
		background: white;
		margin: 0 .26rem;
		border-radius: .06rem;
		-moz-box-shadow:0 .06rem .32rem 0 #e0dfdb; 
		-webkit-box-shadow:0 .06rem .32rem 0 #e0dfdb; 
		box-shadow:0rem .06rem .32rem 0 #e0dfdb;
	}
	
input::-webkit-input-placeholder{
		color: #C7C7C7;
	}
	
input:-moz-placeholder{
		color: #C7C7C7;
	}
textarea::-webkit-input-placeholder{
		color: #C7C7C7;
	}
textarea:-moz-placeholder{
		color: #C7C7C7;
	}
	.weui-textarea{
		color: #333;
	}

/*列表为空的样式*/
.empty{
	text-align: center;
	margin-top: 3rem;
}
.empty img{
  	width: 2.5rem;
  	height: 1.4rem;
  }
  .empty-word{
  	font-size: .24rem;
  	color: #bbb;
  	text-align: center;
  }
  /*元宝砖石等字体颜色*/
 
	.header_list_num>img {
		width: .22rem;
		height: .22rem;
		margin-right: .06rem;
	}
	
	.header_list_num>small {
		font-size: .24rem;
	}
   .header_list_num.jewel {
		color: #35a8ed;
	}
	
	.header_list_num.gold {
		color: #fdc71b;
	}
	
	.header_list_num.silver {
		color: #999;
	}
	
	.header_list_num.coppers {
		color: #ffb034;
	}
	.header_list_num.king {
		color: #fa1d82;
	}
	/*弹性布局*/
	.flex {
		display: flex;
		align-items: center;
	}
	

/*搜索框*/
	.search {
		width: 4.70rem;
		height: .64rem;
		line-height: .64rem;
		font-size: .28rem;
		text-align: left;
		border-radius: .5rem;
		padding: 0 .2rem;
		box-sizing: border-box;
	}
	/*开始停止样式*/
	.pause{
		position: absolute;z-index: 99;top: 0;width: 100%;height: 100%;
	}
	.pause img{
		width: 100%;height: 4.2rem;
	}
	
	
	
	/*分享样式*/
	
	.share-main {
		width: 100%;
		height: 4.17rem;
		background: white;
		position: fixed;
		bottom: 0;
		z-index: 999999;
	}
	
	.share-main-content {
		width: 100%;
		height: 3.21rem;
		overflow-y: scroll;
	}
	
	.s-cancel {
		width: .38rem;
		height: .38rem;
		right: .1rem;
		top: .1rem;
		position: absolute;
		padding: .1rem;
	}
	
	.share-class {
		justify-content: space-around;
		height: 2.27rem;
	}
	
	.share-class img {
		width: 1rem;
		height: 1rem;
	}
	.vux-tab{
		height: .88rem;
		line-height: .88rem;
	}
	.vux-tab .vux-tab-item{
		height: .88rem;
		line-height: .88rem;
		font-size: .28rem;
	}
	/*优惠券样式*/
    .juan_style {
		border: .02rem solid #f51d46;
		display: inline-block;
		border-radius: .02rem;
		height: .32rem;
		font-size: 0;
	}
	
	.juan_style_left {
		font-size: .20rem;
		color: #ffeff2;
		background-color: #f51d46;
		height: 100%;
		display: inline-block;
		padding: 0 .06rem;
	}
	
	.juan_style_right {
		font-size: .20rem;
		color: #f51d46;
		background-color: #ffeff2;
		height: 100%;
		display: inline-block;
		padding: 0 .06rem;
	}
	
	.return_num_style {
		padding: 0 .05rem;
		color: #ff8a1e;
		font-size: .2rem;
		border-radius: .02rem;
		border: .01rem solid #ff8a1e;
		display: inline-block;
		margin-left: .1rem;
	}
	

.weui-dialog__btn_primary{
	color: #9A7BFF!important;
}
